@model IEnumerable<ComputerSales.Application.UseCaseDTO.Product_DTO.ProductOutputDTOcs>

<h2>Danh sách sản phẩm</h2>

<table class="table">
    <thead>
        <tr>
            <th>Mã Sản Phẩm</th>
            <th>SKU</th>
            <th>Slug</th>
            <th>Mô tả</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.SKU</td>
                <td>@item.Slug</td>
                <td>@item.ShortDescription</td>
                <td>@item.Status</td>
            </tr>
        }
    </tbody>
</table>
