@using ComputerSales.Application.Payment.VNPAY.Entity
@model PaymentVNPAY_Response
@{
    Layout = null;
}

<h5>Thanh toán VNPAY Thành Công với</h5>
<h6>Mã Đơn hàng: @Model.OrderId</h6>
<h6>Thông tin giao dịch: @Model.OrderDescription</h6>
<h6>Phương thức giao dịch: @Model.PaymentMethod</h6>
<h6>Mã giao dịch: @Model.TransactionId</h6>
<h6>Mã Đơn hàng: @Model.OrderId</h6>
<h6>Mã thanh toán:@Model.PaymentId</h6>



